<!DOCTYPE html>
<th:block th:replace="~{fragments/starting::thymeleafAndThema}" />
 <!-- <html xmlns:th="http://www.thymeleaf.org" data-bs-theme="dark"></html> -->
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <th:block th:replace="~{fragments/starting::style}" />
    <!-- <link rel="stylesheet" th:href="@{/webjars/bootstrap/5.3.3/css/bootstrap.min.css}"> -->
    <title>Pizze</title>
</head>
<body>
    <header>
        <h1 class="text-danger m-5">Pizze</h1>
    </header>
</body>
</html>